.Game {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 3vh;
}

.Restart {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

.Restart_container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #1b1b1e;
  border-radius: 10px;
  background-color: #d81159;
  text-align: center;
  padding: 5vw;
  box-shadow: 0px 0px 5px black;
}

.logo {
  
  padding: 10px;
  text-align: center;
}

.btn_logo {
  font-size: 36px;
  border: none;
  background-color: #d81159;
}

.status_container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.status_box {
  border: 5px solid #1b1b1e;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  min-width: 200px;
}

.board_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.player_container,
.cpu_container {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 5px;
  align-items: center;
  padding: 15px;
  background-color: #1b1b1e;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.board.cpu_board {
  background-color: #1b1b1e;
}

.Panel {
  display: inline-block;
  border: none;
  width: 35px;
  height: 35px;
  background-color: rgb(13, 198, 255);
  text-decoration: none;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.cpu_board .Panel {
  cursor: pointer;
}

.cpu_board .Panel:hover {
  background-color: rgb(255, 171, 14);
}

.Panel:active {
  transform: scale(0.98);
}

.ship {
  background-color: #3aff13;
}

.hit {
  color: red;
}

.miss {
  color: black;
  font-size: 14px;
}

.sunk {
  color: rgb(255, 65, 65);
  background-color: rgb(37, 37, 37);
}

/*icons*/
.fa-times-circle {
  color:rgb(255, 65, 65);
}

@media (max-width: 1115) {
  .board_container {
    flex-flow: column;
  }
}

@media (max-width: 440px) {
  .Panel {
    width: 21px;
    height: 21px;
    font-size: 16px;
  }
}


