.Game {

}

.status_container {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.status_box {
    border: 5px solid #1b1b1e;
    padding: 10px;
text-align: center;
font-size: 24px;
}

.board_container {
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.player_container, .cpu_container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 5px;
    align-items: center;
    padding: 15px;
    background-color: #1b1b1e;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}



.Panel {
    width: 22px;
    height: 22px;
    background-color: rgb(13, 198, 255);
}



.cpu_board .Panel{
    width: 30px;
    height: 30px;

}

.cpu_board .Panel:hover {
    background-color: rgb(255, 171, 14);
    
}