.Start {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;

}

.Start > strong {
    margin-top: 25vh;
    font-size: 150px;
}

.Start > p {
    margin-top: -35px;
}

.Start > button {
    margin-top: 20vh;
    color: #d81159;
    font-size: 36px;
} 