.Start {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0;

}

.Start > strong {
    margin-top: 25vh;
    font-size: 13vw;
}

.Start > p {
    margin-top: -2vw;
}

.Start > button {
    margin-top: 15vh;
    color: #d81159;
    font-size: 3vw;
} 